<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Tweets</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Highlight-Blue.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Highlight-Clean.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Newsletter-Subscription-Form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Testimonials.css') }}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amita">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
    <div class="container"><a class="navbar-brand" href="{{ url_for('index') }}"
                              style="font-family: 'Kaushan Script', cursive;"><strong>Análisis de sentimientos</strong></a>
        <button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i
                class="fa fa-bars"></i></button>
    </div>
</nav>
<header class="masthead">
    <div class="overlay" style="background: url(../static/img/5.png);background-size: auto;"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                <div class="site-heading">
                    <h1 style="font-family: 'Kaushan Script', cursive;">Análisis de sentimientos</h1><span
                        class="subheading" style="font-family: Lora, serif;">Descubre el sentimiento de tu tweet</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="newsletter-subscribe">
    <div class="container" style="padding: 0 0 2% 0;">
        <div class="intro">
            <h2 class="text-center" style="font-family: Lora, serif;">Ingrese el tweet para evaluar el sentimiento</h2>
        </div>
    </div>
    {% from "form-helpers.html" import render_field %}

    <form method=post class="form-inline" action="/results">
        <div class="form-group text-center mr-4" style="width: 40%;">
            {{ render_field(form.tweet, class="border rounded form-control", style="width: 100%; height: auto; text-shadow: 0px 0px;", row="2") }}
        </div>
        <div class="form-group">
            <input class="btn text-white border rounded-pill border-primary" type=submit
                   style="border-color: #0275d8;background: #0275d8;"
                   value='Evaluar tweet'/>
        </div>
    </form>
</div>

<div class="testimonials-clean" style="background: rgb(238,238,238);">
    <div class="container">
        <section class="highlight-clean" style="background: rgb(238,238,238);">
            <div class="container">
                <div class="intro">
                    <h2 class="text-center">Reporte de calificaciones</h2>
                    <p class="text-center" style="margin: 5%;">Puedes ver el reporte del análisis de tweets
                        anteriores</p>
                </div>
                <form class="form-group text-center" method=post action="/sqliteReport">
                    <input class="btn text-white border rounded-pill border-primary" type=submit
                           style="border-color: #0275d8;background: #0275d8"
                           value='Ver reporte'/>
                </form>
            </div>
        </section>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                <ul class="list-inline text-center">
                    <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i
                            class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></li>
                    <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i
                            class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></li>
                    <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i
                            class="fa fa-github fa-stack-1x fa-inverse"></i></span></li>
                </ul>
                <p class="text-muted copyright">Copyright&nbsp;©&nbsp;Jaider Pérez 2021</p>
            </div>
        </div>
    </div>
</footer>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/clean-blog.js') }}"></script>
</body>

</html>